<div id = "su_form">
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class = "center"><%= f.label :name %><br />
      <%= f.text_field :name, :size =>"50", :class => "field_height"%></div>

    <div class = "center"><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true,  :size =>"50", :class => "field_height" %></div>

    <div class = "center"><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off",  :size =>"50", :class => "field_height" %></div>

    <div class = "center"><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off",  :size =>"50", :class => "field_height" %></div>

    <div class = "center"><%= f.submit "Sign up", :class => "button"%></div>
  <% end %>

<%= render "devise/shared/links" %>
</div>