<h1>Book index page </h1>

<!-- create story button -->
<div><%= link_to('Create', new_book_path)%></div>

<!-- book lists read-only -->
<div>
<% if @books.count == 0 %>
  <p>Currently, no book in the book shelf</p>
<% else %>
  <% @books.each do |book| %>
    <ul>
      <li>Ttile: <%= link_to(book.title, book) %></li>
      <li>Author name: <%= book.author.name %></li>
    <!-- book list with edit / delete options only for correct author-->
        <% if book.author.id == current_author.id %>
          <li><%= link_to('Edit', edit_book_path(book))%></li>
          <li><%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <% end %>
    </ul>
  <% end %>
<% end %>
</div>




