<!DOCTYPE html>
<html>
<head>
  <title>Storybook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="user_nav">
      <% if author_signed_in? %>
        Signed in as <%= current_author.email %>. Not you?
        <%= link_to "Sign out", destroy_author_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign up", new_author_registration_path %> or <%= link_to "Sign in", new_author_session_path %>
      <% end %>
  </div>
<%#= javascript_include_tag "application" %>
<%= yield  %>


</body>
</html>
